body {
    margin: 1;
    padding-top: 35px;
    padding-left: 10px;
    height: 100vh;
    background: url('images/ArsenalKeyChange.jpeg') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitation-card {
    text-align: left;
    padding-right: 65%;
    padding-bottom: 20%;

}

.text-layer {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
}

.invitation-card h1 {
    padding-top: 10%;
    color: #eef0ef;
    font-size: 55px;
}
.text-back {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    color: rgb(238, 62, 91);
    font-size: 90px;
    top: 3px;
    text-indent: 0%;
}

.text-front {
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    position: relative;
    color: rgb(85, 233, 169);
    left: 200px;
    top: 77px;
    
}

.date {
    font-size: 30px;
    padding-top: 20%;
    color: aquamarine;
}

.time {
    font-size: 30px;
    color: aquamarine;
}

.location-name {
    font-size: 30px;
    color: aquamarine;
}

.location-address a {
    font-size: 25px;
    color: aquamarine;

}
